/* RESET */
/* ------------------------------------------------*/

.touch * {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.touch input, .touch textarea {
	-webkit-touch-callout: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.touch html {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* GLOBAL STYLES
-------------------------------------------------- */

html, body, .full-height { height: 100%; }

body { 
	font-size: 13px;
	font-family: Helvetica, Verdana, Arial, sans-serif;
}

.nav, .pagination, .carousel, .panel-title, a { cursor: pointer; }

/* reset hover property for touch device*/

a, a:hover {
	text-decoration: none;
	color: #007AF2;
}

.touch .btn-default:hover {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}

.touch .btn-primary:hover {
  color: #ffffff;
  background-color: #007aff;
  border-color: #006ee6;
}

.touch .btn-success:hover {
  color: #ffffff;
  background-color: #4cd964;
  border-color: #37d552;
}

.touch .btn-info:hover {
  color: #ffffff;
  background-color: #34aadc;
  border-color: #249ed2;
}

.touch .btn-warning:hover {
  color: #ffffff;
  background-color: #ffcc00;
  border-color: #e6b800;
}

.touch .btn-danger:hover {
  color: #ffffff;
  background-color: #ff3b30;
  border-color: #ff2317;
}

.touch .btn-link:hover {
	color: #007aff;
	text-decoration: none;
}

/* util classes */
.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.text-wrap {
  word-wrap: break-word;     
  overflow-wrap: break-word;
  white-space: -moz-pre-wrap; 
  white-space: pre-wrap;
  word-break: break-all;
}

/* FrontPage STYLES
-------------------------------------------------- */

/*** Top banner ***/
.jumbotron {
    padding-top: 150px;
    padding-bottom: 100px;
    margin-bottom: 10px;
    background: url('../images/front.jpg');
    background-position:0px 0px;
    color: white;
}

.jumbotron p{
    color: lightgrey;
}

.shadow{
    text-shadow: black 0 1px 0;
}


/*** Featurettes ***/
.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/*** Login Screen ***/
.login-screen {
	  /* fallback */
	background-color: orange;
	color: white;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
	-webkit-transform-style: preserve-3d;

	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(radial, center center, 0, center center, 460, from(orange), to(#FFCC6F));
	/* Safari 5.1+, Chrome 10+ */
	background: -webkit-radial-gradient(circle, orange, #FFCC6F);
	/* Firefox 3.6+ */
	background: -moz-radial-gradient(circle, orange, #FFCC6F);
	/* IE 10 */
	background: -ms-radial-gradient(circle, orange, #FFCC6F);

	/* Opera couldn't do radial gradients, then at some point they started supporting the -webkit- syntax, how it kinda does but it's kinda broken (doesn't do sizing) */
}
.login-screen .login-box {
	text-align: center;
	height: 250px;
}
.login-screen h1 {
	font-size: 51px;
	font-weight: bold;
}

/* Main Application STYLES
-------------------------------------------------- */

/***---- Layout ----***/

/* navbar styling */
.navbar {
	/* 50px + 1px border-bottom */
	background-color: orange;
	border-bottom: solid 1px orange;
	color: #FFF;
}
.navbar .btn-icon-only .fa,
.navbar .btn-icon-only .icon {
  font-size: 22px;
  vertical-align: middle;
}
.navbar .btn-navbar,
.navbar .btn {
  background: none;
  border: none;
  line-height: 50px;
  padding-top: 0;
  padding-bottom: 0;
  color: #fff;
  text-transform: uppercase;
}
.navbar.reverse {
	background-color: #fff;
	color: orange;
}
.navbar.reverse .btn-navbar,
.navbar.reverse .btn {
	color: orange;
}
@media (min-width: 992px){
	.navbar-brand-center {
	 text-align: center; 
	}
}

/* main app styling */
.has-navbar-top .app-body {
	padding-top: 51px;
}
.app {
	background-color: #F6F1DF;
}
.app .app-content {
	overflow: visible;
}
/* popup screen */
.app .app-content .popup-screen {
	height: -moz-calc(100% + 51px);
	height: -webkit-calc(100% + 51px);
	height: -o-calc(100% + 51px);
	height: calc(100% + 51px);
	width: 100%;
	position: absolute;
	top: -51px;
}
.app .app-content .popup-screen .popup-screen-body {
	z-index: 1001;
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #fff;
	top: 100%;
	-moz-transition:top 0.5s;
	-webkit-transition:top 0.5s; 
	-o-transition:top 0.5s; 
	transition:top 0.5s;
}
.app .app-content .popup-screen.active .popup-screen-body {
	top: 0%;
}

/***---- Layout end ----***/

/***--- Home ----***/
.post-form .navbar .post-btn {
	color: lightgrey;
	cursor: default;

}
.post-form .navbar .post-btn.ready {
	color: orange;
	font-weight: bold;
	cursor: pointer;
}
.post-form label {
	text-align: center;
}
.post-form .select-wrapper {
	margin: 0;
	border-bottom: 1px solid orange;
}
.post-form .textarea-wrapper {
	padding-top: 65px;
	margin-top: -55px;
}
.post-form textarea {
	resize: none;
	border: none;
	height: 100%
}

/* home and event view carousel */
.carousel-indicators .dot {
	color:#FFD58B;
	margin: 0; 
	width: 12px; 
	height: 12px; 
	font-size: 8px;
	background-color: transparent;
}
.carousel-indicators .active{
	color: #fff;
}
.home > .rn-carousel-container {
	height: 100%;
}

/* filter */
.filter-wrapper {
	position: absolute;
	z-index: 10;
	width: 100%;
	background-color: #fff;
	opacity: 0.9;
	border-bottom: 1px solid orange;
}
.filter-wrapper a {
	color: inherit;
	font-weight: bold;
}
.filter-wrapper .filter-box {
	padding-top: 15px;
	padding-left: 20px;
	padding-right: 20px;
}
.filter-wrapper .selected,
.no-touch .filter-wrapper li:hover {
	border-bottom-color: orange; 
	border-bottom-style: solid;
}
.filter-wrapper ul {
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}

/***--- Home end ----***/

/***--- Home.Feeder ---***/
.feeder {
	padding-top: 47px;
}
.feeder .date-text {
	color: #898f9c;
}
/* post */
.feeder .posts-wrapper {
	margin: 0;
	background-color: #fff;
}
.no-touch .feeder .panel:hover {
	background-color: #FFFAF0;
	cursor: pointer;
}
.feeder .panel:active {
	background-color: #FFFAF0;
}
.feeder .panel-body {
	background-color: inherit;
}
.feeder .post-body {
	padding-top: 5px;
}
<<<<<<< HEAD
/***--- Feeder End---***/
=======
/***--- Home.Feeder End---***/

/***--- Home.Event ---***/
.create_button_wrapper
{
    width: 100%;
    margin:7px 0;
    padding: 1px;
}

.create_button
{
    width: 100%;
}
>>>>>>> 758019182ee893fe428871b1f91a6cddba859f25

/*** Event Organizer ***/

.event_title {
 font-size: 18px;
 margin: 1px;
}

<<<<<<< HEAD
.event_imgIcon {
  height:auto; 
  width:auto; 
  max-width:40px; 
  max-height:40px; 
  margin-right: 5px;
}

.align_center{
  text-align: center;
}

.input_wrapper{
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
}
=======
.event_border{
 margin-top: 8px;
 margin-bottom: 5px;
 margin-left: 1px;
 margin-right: 1px;
 border-top: 1px solid;
}
/***--- Home.Event End---***/

/***--- Post ---***/	
.post-wrapper .panel {
	border: none;
	margin: 0;
}

.post-wrapper .comments-container {
	overflow: auto;
}
.post-wrapper .comment-body {
	padding: 0 0 5px 35px;
}
.post-wrapper .comment-body .profile-img {
	margin-left: -35px;
	width: 30px;
	height: 30px;
	float: left;
}
.post-wrapper .comment-body .profile-name {
	padding-right: 5px;
}
/***--- Post End ---**
>>>>>>> 758019182ee893fe428871b1f91a6cddba859f25
