<div>
 <!-- create a new event -->
  <div class="create_button_wrapper">
    <button class="create_button" type="button">Create a new Event</button>
  </div>
  
  <div class="panel panel-default">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-danger">
        <div class="panel-footer">
                <img class="pull-left img-rounded" src="https://lorempixel.com/40/40/" style="margin-right: 5px;">  
                <h4 class="event_title">YKPC Weekly Basketball</h4> 
                at <b>YKPC Church </b> on <b>7:00 PM EST, Today</b>.
                <div class="clearfix"></div>  
        </div>                    
      </a>
      <a href="#" class="list-group-item list-group-item-warning">
        <div class="panel-footer">
                <img class="pull-left img-rounded" src="https://lorempixel.com/40/40/" style="margin-right: 5px;">  
                <h4 class="event_title">Weekly Badminton</h4> 
                at <b>YKPC Church </b> on <b>8:00 PM EST, Today</b>.
                <div class="clearfix"></div>  
        </div>  
      </a>
      <a href="#" class="list-group-item list-group-item-success">
        <div class="panel-footer">
                <img class="pull-left img-rounded" src="https://lorempixel.com/40/40/" style="margin-right: 5px;">  
                <h4 class="event_title">Weekly Biking</h4> 
                at <b>Central Park </b> on <b>7:00 PM EST, Apr. 24th Monday, 2014</b>.
                <div class="clearfix"></div>  
        </div>  
      </a>
      <a href="#" class="list-group-item list-group-item-success">
        <div class="panel-footer">
                <img class="pull-left img-rounded" src="https://lorempixel.com/40/40/" style="margin-right: 5px;">  
                <h4 class="event_title">Monthly Walk</h4> 
                at <b>Central Park </b> on <b>6:00 PM EST, Apr. 24th Monday, 2014</b>.
                <div class="clearfix"></div>  
        </div>  
      </a>
    </div>
  </div> 
</div>