
<div class="event-wrapper scrollable-content">
  <!-- Navbar Contetns  {{event}} -->
  <div content-for="navbarTitle">
    <span>Event</span>
  </div>
  <div content-for="navbarLeftAction">
    <div class="btn btn-lg btn-navbar"
        ui-sref="app.user.home">
      <i class="fa fa-angle-left fa-lg"></i>
    </div>
  </div>
  <div content-for="navbarRightAction"></div>

  <div class="scrollable-content"
      ng-show"true">
    <div class="panel">
      <div class="panel-body">
        <div class="">
          <img class="pull-left img-rounded event_imgIcon" alt="{{event.sports}}" ng-src="../../images/sportsIcon/{{event.sports}}.png">  
          <h4 class="event_title"><span class="badge"> {{ event.sports }} </span> {{event.name}}</h4> 
          <h4 class="event_title">{{event.schedule.appDateTime | date:'EEEE hh:mma, MMMM d yyyy'}}</h4>       
    
          <div class="clearfix"></div>
          
          <h1 class="event_score">{{event.score}}</h1>
          
        </div>
        
        <div style="margin-top: 14px;">
          <p class="event_small" style="font-weight: bold;">{{ event.schedule.repeat }} {{event.eventType}} Game</p>
          <p class="event_small">Created by: {{ event.createdBy.name }}</p>
          <p class="event_small">Created at: {{ event.createdAt | date:'EEEE hh:mma, MMMM d yyyy'}}</p>
        </div>
        
        <hr style="color:orange; border-top: 0px solid;"/>
        
        <div class="box_wrapper">
          <h4 class="event_big">{{ event.place.name }}</h4>
          <p class="event_small">
            {{ mapData.address.street 
                ? mapData.address.street + ', ' 
                : ''
            }} {{ mapData.address.city }}
          </p>
          
          
          <div class="static-map-wrapper" 
              style="cursor:pointer;"
              ng-click="map.fullscreen = true">
            <img ng-src="{{map.staticUrl}}">
          </div>
          <my-modal my-modal-open="map.fullscreen" 
                my-modal-open-style="center">
            <div class="full-height" style="padding-top:50px">
              <div class="navbar reverse navbar-app navbar-absolute-top">
                <div class="navbar-brand navbar-brand-center"
                    style="padding-right:60px; padding-left:60px;">
                    {{ event.place.name }}
                </div>
                <div class="btn-group pull-left">
                  <div class="btn btn-sm btn-navbar" 
                      ng-click="map.fullscreen = false">
                    Close
                  </div>
                </div>
                <div class="btn-group pull-right"></div>
              </div>
              <div class="map-wrapper" 
                  ng-if="map.isDataReady"
                  style="height: 100%; width: 100%">
                <my-map
                    class="full-height"
                    center="map.center"
                    zoom="map.zoom">
                  <my-map-marker
                      coords="map.center">
                  </my-map-marker>  
                </my-map> 
              </div>
            </div>
          </my-modal>
        </div>
        
        <hr style="color:orange; border-top: 0px solid;"/>
        
        <div class="box_wrapper">
          <h4 class="event_big">Description</h4>
          <p class="event_small">{{ event.desc }}</p>
        </div>
      </div> 

      <div class="panel-footer">
        <div class="comments-container">
          <div ng-repeat="comment in event.comments">
            <div class="comment-body">
              <a><img class="img-rounded profile-img" 
                ng-src="{{comment.createdBy.profilePicture}}"></a>
              <div>
                <a class="profile-name pull-left">{{ comment.createdBy.name }}</a>
                <span class="text-wrap"> {{ comment.text }} </span>
                <div class="clearfix" style="height:0"></div>
                <span class="date-text"> {{ comment.createdAt | myDate }} </span>
              </div>
            </div>
          </div> 
        </div>
        <form name="commentForm" role="form" class="comment-form" 
            ng-submit="addComment(event.id)">
          <div class="input-group">
            <input id="test" type="text" class="form-control" ng-model="commentText"
                placeholder="Write a Comment..." my-focus="isCommentFocused">
            <span class="input-group-btn">
              <input type="submit" value="Send" 
                  class="btn btn-default"/>
            </span>
          </div>
        </form>
      </div> <!-- panel-footer end  -->
    </div>  <!-- panel end -->
  </div>
</div>