<div class="feeder">
  <!-- input -->
  <div class="panel panel-default">
    <form name="postForm" ng-submit="submitPost()">
      <div class="panel-body" style="padding: 0px">     
        <textarea ng-model="postForm.postText" class="post-textarea" placeholder="What is going on today?" required></textarea>
      </div>
      <div class="panel-footer">
        <div class="pull-left">
          <div dropdwon class="btn-group">
            <button type="button" 
                    class="btn btn-default btn-sm dropdown-toggle" 
                    ng-disabled="disabled">
              {{ postForm.type || 'Sport' }} 
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a ng-click="selectDropdown('General')">General</a>
              </li>
              <li>
                <a ng-click="selectDropdown('Basketball')">Basketball</a>
              </li>
              <li>
                <a ng-click="selectDropdown('Badminton')">Badminton</a>
              </li>
            </ul>
          </div> 
        </div>
        <div class="pull-right">
            <input type="submit" class="btn btn-warning btn-sm" >
        </div>
        <div class="clearfix"></div>
      </div>
    </form>
  </div>

  <div class="posts-wrapper">
    <!-- make this as a directive -->
    <div ng-repeat="post in posts" class="panel panel-default">
      <div class="panel-body">
        <div class="post-heading">
            <img class="pull-left img-rounded" 
              src="{{ post.createdBy.profilePicture }}" 
              style="margin-right: 7px">
            <h5><a>{{ post.createdBy.name }}</a></h5>
            <span class="date-text"> {{ post.createdAt | date:'MMM d' }} </span>
          <div class="clearfix"></div>
        </div>
        <div class="post-body">
          <p class="text-wrap">{{ post.contents }}</p>
        </div>
        <div class="pull-left">
          <!-- Toggle Score btn functionality -->
          <button ng-show="post.scorers.indexOf(currentUser.id) >= 0" class="btn btn-warning btn-xs" ng-click="removeScore(post.id)">
            <span ng-show="post.score > 0">{{ post.score }}</span> 
            Score
          </button>
          <button ng-show="post.scorers.indexOf(currentUser.id) < 0" class="btn btn-default btn-xs" ng-click="addScore(post.id)">
            <span ng-show="post.score > 0">{{ post.score }}</span> 
            Score
          </button>
        </div>
        <div class="pull-right">
          <span class="badge"> {{ post.sport }} </span>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="panel-footer">
        <div class="comments-toggle">
          <span ng-show="!commentsExpand" ng-click="loadComments(post.id)">
          <a>
            {{ post.numComments }} Comments
          </a> 
          <span class="caret"></span>
          <!-- <i class="fa fa-chevron-down fa-1x"></i> -->
          </span>
          <a ng-show="commentsExpand" ng-click="hideComments()">Hide Comments</a>
        </div>
        <div class="">
          <div class="comments-container">
            <div ng-repeat="comment in post.comments">
              <div class="comment-body">
                <a><img class="img-rounded profile-img" 
                  src="{{comment.createdBy.profilePicture}}"></a>
                <div>
                  <a class="profile-name pull-left">{{ comment.createdBy.name }}</a>
                  <span class="text-wrap"> {{ comment.text }} </span>
                  <div class="clearfix" style="height:0"></div>
                  <span class="date-text"> {{ comment.createdAt | date:'MMM d' }} </span>
                  <!-- <a>Score</a> <span> {{ comment.score}}</span> -->
                </div>
              </div>
            </div> 
          </div>
          <div class="comment-form">
            <img class="img-rounded profile-img" src="{{ currentUser.photos.profile }}">
            <form name="commentForm" ng-submit="addComment(post.id)">
              <input class="comment-input" ng-model="commentText" type="text" placeholder="Write a Comment" required>
            </form>
          </div>
        </div>
      </div>
    </div> 
    <button ng-show="!postsBox.loading" type="button" ng-click="loadMorePosts()" style="color: white; background-color:orange" class="btn  btn-sm btn-block">Load More</button>
    <p ng-show="postsBox.loading" class="text-center" style="color:orange"><i class="fa fa-refresh fa-spin fa-2x"></i></p>
  </div>
</div>