<div class="feeder">

  <div class="list-group posts-wrapper">

    <!-- make this as a directive -->
    <div ng-repeat="post in posts" 
        class="list-group-item panel panel-default"
        ui-sref="app.user.post({id: post.id})">
      <div class="panel-body">
        <div class="post-heading">
          <img class="pull-left img-rounded" 
              src="{{ post.createdBy.profilePicture }}" 
              style="margin-right: 7px">
          <h5><a>{{ post.createdBy.name }}</a></h5>
          <span class="date-text"> {{ post.createdAt | date:'MMM d' }} </span>
          <div class="clearfix"></div>
        </div>
        <div class="post-body">
          <p class="text-wrap">{{ post.contents }}</p>
        </div>
        <div class="pull-left">
          <a ng-show="post.scorers.indexOf(currentUser.id) >= 0" class="btn btn-warning btn-sm" ng-click="removeScore(post.id, $event)">
            Score
            <span ng-show="post.score > 0">{{ post.score }}</span> 
          </a>
          <a ng-show="post.scorers.indexOf(currentUser.id) < 0" class="btn btn-default btn-sm" ng-click="addScore(post.id, $event)">
            Score
            <span ng-show="post.score > 0">{{ post.score }}</span> 
          </a>
          <a class="btn btn-default btn-sm"
              ng-click="$event.stopPropagation();"
              ui-sref="app.user.post({id: post.id, comment: true})">
              Comment {{ post.numComments }}
          </a>
        </div>
        <div class="pull-right">
          <span class="badge"> {{ post.sport }} </span>
        </div>
        <div class="clearfix"></div>
      </div>
    </div> 
    <button ng-show="!postsBox.loading" type="button" ng-click="loadMorePosts()" style="color: white; background-color:orange" class="btn  btn-sm btn-block">Load More</button>
    <p ng-show="postsBox.loading" class="text-center" style="color:orange"><i class="fa fa-refresh fa-spin fa-2x"></i></p>
  </div>
</div>