<div class="home full-height">       

  <!-- set title on navbar -->
  <div content-for="title">
    <span>{{ data.titles[data.slideIndex] }}</span>
    <div class="carousel-indicators" style="bottom:0px">
      <i class="fa fa-circle dot" ng-class="{ active: !data.slideIndex }"></i>
      <i class="fa fa-circle dot" ng-class="{ active: data.slideIndex }"></i>
    </div>
  </div>
  <!-- set buttons on navbar -->
  <div content-for="navbarAction">
    <div class="btn btn-navbar newPost">
      <i class="fa fa-pencil fa-lg"></i>
    </div> 
    <div class="btn btn-navbar newEvent hidden">
      <i class="fa fa-pencil fa-lg"></i>
    </div> 
  </div>

  <div class="filter-wrapper">
    <div class="filter-box">
      <a class="pull-left" ng-click="shiftFilter('prev')"> 
        <i class="fa fa-chevron-left"></i>
      </a>
      <a class="pull-right" ng-click="shiftFilter('next')"> 
        <i class="fa fa-chevron-right"></i>
      </a>
      <ul class="filter-list list-inline">
        <li ng-class="{ selected: item === filter.selected }" 
            ng-repeat="item in filter.items" 
            ng-click="selectFilter(item)">
          <a>{{ item }}</a>
        </li> 
      </ul> 
    </div>
  </div>
 
  <div rn-carousel rn-carousel-index="data.slideIndex" class="scrollable">
    <div ui-view="feeder" class="scrollable-content"></div>
    <div ui-view="eventOrganizer" class="scrollable-content"></div>
  </div>

</div>  