<div class="home full-height">       

  <!-- set title on navbar -->
  <div content-for="title">
    <span>Home</span>
  </div>

  <div class="filter-wrapper">
    <div class="filter-box">
      <a class="pull-left" ng-click="shiftFilter('prev')"> 
        <i class="fa fa-chevron-left"></i>
      </a>
      <a class="pull-right" ng-click="shiftFilter('next')"> 
        <i class="fa fa-chevron-right"></i>
      </a>
      <ul class="filter-list list-inline">
        <li ng-class="{ selected: item === filter.selected }" 
            ng-repeat="item in filter.items" 
            ng-click="selectFilter(item)">
          <a>{{ item }}</a>
        </li> 
      </ul> 
    </div>
  </div>

<!-- for xs screen only -->
<div rn-carousel class="full-height" style="padding-top: 50px">
  <div ui-view="feeder" class="full-height scroll-area"></div>
  <div ui-view="eventOrganizer" class="full-height scroll-area"></div>
</div>

<div class="row hidden-xs full-height" style="padding-top: 50px">
  <!-- Feeder -->
  <div class="col-sm-6">
    <div ui-view="feeder"></div>
  </div>
  <!-- /Feeder -->

  <!-- Events  -->
  <div class= "col-sm-6">
    <div ui-view="eventOrganizer"></div>
  </div>
  <!-- /Events  -->
</div>

  <!-- Side bar -->
  <!-- <div class= "hidden-xs hidden-sm col-md-2">      -->
    <!-- <div ui-view="sideMenu"></div> -->
  <!-- </div> -->
  <!-- /Side bar -->

  
</div>  