<div class="login-screen full-height">
  <div class="login-box container">
      <h1>Passon</h1>
      <h4>Find, Meet, Play!</h4>
<!--       <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=260509677458558&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
 -->
<!-- <div class="fb-login-button" data-size="large" data-show-faces="false" data-auto-logout-link="true">Sign in with Facebook</div>
  </div> -->
  <br>
      <!-- <a target="_self" class="btn btn-primary" ng-click="authFb()" href="/auth/facebook"> -->
      <a class="btn btn-primary" ng-click="authFb()">
      <i class="fa fa-facebook-square fa-lg"></i>
        Sign in with Facebook
      </a>

 </div>