<!-- Navbar Contetns  -->
<div content-for="navbarTitle">
  <span>Nearby</span>
</div>

<div content-for="navbarLeftAction">
  <div ng-click="toggle('mainSidebar')" 
      class="btn btn-lg btn-navbar sidebar-toggle">
    <i class="fa fa-bars"></i>
  </div>
</div>

<div content-for="navbarRightAction">
  <a class="btn btn-md" ui-sref="app.user.nearby.map">Map</a>
</div>

<!-- Tab Buttons -->
<div class="list-btn-wrapper"
    style="height:47px; border-bottom:1px solid orange;
           position: absolute;
           width:100%;">
  <div class="list-group-item btn-group justified nav-tabs" 
      style="padding: 12px;">
    <a class="btn btn-xs btn-default active"> Places </a>
    <a class="btn btn-xs btn-default"> Events </a>
  </div>
</div>

<!-- Lists -->
<div class="list-wrapper scrollable-content" 
    style="padding-top:47px;">
  <div class="full-height scrollable-content">
    <a ng-repeat="marker in map.markers"
        class="list-group-item"
        ng-click="goToPlacePage(marker.data.id)">
      <i class="fa fa-chevron-right pull-right"></i>
      <h6><strong>{{ marker.data.name }}</strong></h6>
      <p>
        {{ marker.data.address.street 
            ? marker.data.address.street + ', ' 
            : ''
        }} {{ marker.data.address.city }}
        · {{ marker.coords | myDistance: map.currentLocation }} km
      </p>
      <p>
        <span ng-show="marker.data.sports[0]"> 
          {{ marker.data.sports[0] }} 
        </span>
        <span ng-show="marker.data.sports[1]"> 
          {{ marker.data.sports[1] }} 
        </span>
        <span ng-show="marker.data.sports[2]"> 
          {{ marker.data.sports[2] }} 
        </span>
      </p>
    </a>
    <div class="btn btn-default btn-block"
        ng-click="openPlaceFormModal()">
      Add a Place
    </div>
  </div>
</div>

<!-- Add Place Form -->
<my-modal my-modal-open="placeFormModal.open" 
    my-modal-open-style="bottom-up">
  <div class="place-form-content full-height" style="padding-top:51px; overflow:auto">
    <div class="navbar reverse navbar-absolute-top">
      <div class="navbar-brand navbar-brand-center">
        New Place
      </div>
      <div class="btn-group pull-left">
        <div class="btn btn-sm btn-navbar" ng-click="cancelPlaceFormModal()">
          Cancel
        </div>
      </div>
      <div class="btn-group pull-right">
        <div class="btn btn-sm btn-navbar"
            ng-disabled="placeForm.$invalid"
            ng-click="submitPlaceForm()">
          Submit
        </div>
      </div>
    </div>
    <form name="placeForm" style="margin-left: 15px; margin-right: 15px;"
        novalidate>
      <div class="form-group row">
        <label class="control-label col-xs-3">*Name:</label>
        <div class="col-xs-9">
          <input name="name" ng-model="placeFormData.name"
              class="form-control" required/>
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-xs-3"
            style="margin-right: 15px;">
          *Map:
        </label>
        <my-address-input address="placeFormData.address" reset="placeFormModal.resetAddress"></my-address-input>
      </div>
      <div class="form-group row">
        <label class="control-label col-xs-3">Description: </label>
        <div class="col-xs-9">
          <textarea ng-model="placeFormData.description" 
            class="form-control" 
            placeholder="Write about the place">
        </textarea>
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-xs-3">Phone:</label>
        <div class="col-xs-9">
          <input name="phone" ng-model="placeFormData.phone"
              class="form-control"/>
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-xs-3">Type: </label>
        <div class="col-xs-9">
          <select ng-model="placeFormData.type" class="form-control">
            <option value="" selected>--</option>
            <option value="Community Center">Community Center</option>
            <option value="Outside Court">Outside Court</option>
            <option value="Paid Facility">Paid Facility</option>
            <option value="School">School</option>
            <option value="Park">Park</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-xs-3">Sports: </label>
        <div class="col-xs-9">
          <select ng-model="placeFormData.sport1" class="form-control">
            <option value="" selected>--</option>
            <option ng-repeat="sport in sports" value="{{sport}}">
              {{sport}}
            </option>
          </select>
          <select ng-model="placeFormData.sport2" class="form-control">
            <option value="" selected>--</option>
            <option ng-repeat="sport in sports" value="{{sport}}">
              {{sport}}
            </option>
          </select>
          <select ng-model="placeFormData.sport3" class="form-control">
            <option value="" selected>--</option>
            <option ng-repeat="sport in sports" value="{{sport}}">
              {{sport}}
            </option>
          </select>
        </div>
      </div>
    </form>

  </div>

</my-modal>
