<!-- Navbar Contetns  -->
<div content-for="navbarTitle">
  <span>Nearby</span>
</div>

<div content-for="navbarLeftAction">
  <div ng-click="toggle('mainSidebar')" 
      class="btn btn-lg btn-navbar sidebar-toggle">
    <i class="fa fa-bars"></i>
  </div>
</div>

<div content-for="navbarRightAction">
  <a class="btn btn-md" ui-sref="app.user.nearby.list">List</a>
</div>

<div class="map-wrapper"  style="height: 100%; width: 100%;">
  <my-map
    class="full-height"
    center="map.center"
    zoom="map.zoom"
    options="map.options"
    center-pin="map.centerPin">
    <my-map-marker 
      ng-repeat="marker in map.markers" 
      info-window="true"
      info-window-data="marker"
      info-window-open="showInfoWindow(marker, infoWindowData)"
      coords="marker.coords"> 
    </my-map-marker>
    <my-map-info-window>
      <div class="info-window" ng-click="test(infoWindowData.name)">
        <h6><strong>{{ infoWindowData.data.name }}</strong></h6>
        {{ infoWindowData.coords | myDistance: map.currentLocation }} km
        <p>
          <span ng-show="infoWindowData.data.sports[0]"> 
            {{ infoWindowData.data.sports[0] }} 
          </span>
          <span ng-show="infoWindowData.data.sports[1]"> 
            {{ infoWindowData.data.sports[1] }} 
          </span>
          <span ng-show="infoWindowData.data.sports[2]"> 
            {{ infoWindowData.data.sports[2] }} 
          </span>
        </p>
      </div>
    </my-map-info-window>
  </my-map>

<!--   {{ map.center }}
  <my-map class="full-height"
    center="map.center"
    zoom="15"
    center-pin="true"></my-map>
 -->  
    <div class="mapController" 
        style="position: absolute; bottom: 15px; right: 1px">
    <button class= "btn btn-primary"
        ng-click="redoSearch()">
      Redo Search In This Area
    </button>
  </div>
</div>