<div id="sidebar" role="navigation" class="sidebar">
  <ul class="nav nav-stacked" id="sidebar-nav">
    <li class="">
      <a ui-sref="app.user.home" class="">News Feed 
        <span class="badge pull-right">3</span>
      </a>
    </li> 
    <li class="">
      <a ui-sref="app.user.profile" class="">Profile</a>
    </li> 
    <li class="">
      <a href ui-sref="app.user.messages" class="">Messages
        <span class="badge pull-right">49</span>
      </a>
    </li> 
    <hr class="sideDivider"/>
    <li class="">
      <a href="#" class=""><span class="glyphicon glyphicon-fire"></span> YKPC Badminton</a>
    </li>
    <li class="">
      <a href="#" class=""><span class="glyphicon glyphicon-flag"></span> Bicycle Group</a>
    </li>   
    <li class="">
      <a href="#" class="">Edit Following Events...</a>
    </li> 
    <hr class="sideDivider"/>
    <li class=""><a ui-sref="app.user.settings">Settings...</a></li> 
    <hr class="sideDivider"/>
    <li class=""><a href ng-click="signout()" >Signout</a></li> 
  </ul> 
</div>